<style>
    #user-update {
        padding: 20px 25px 25px 0;
    }

    #user-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #user-update #data-permission-tree-block {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 3px 0;
    }

    #user-update  .layui-treeSelect .ztree li span.button.switch {
        top: 1px;
        left: 3px;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="user-update">
    <form class="layui-form" action="" lay-filter="user-update-form">
        <div class="layui-form-item website-hide">
            <label class="layui-form-label website-form-item-require">专家id：</label>
            <div class="layui-input-block">
                <input type="text" name="expertId" data-th-value="${expert.expertId}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label website-form-item-require">专家名：</label>
            <div class="layui-input-block">
                <input type="text" name="name" minlength="2" maxlength="10" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label website-form-item-require">学科分类：</label>
            <div class="layui-input-block">
            <select name="subjectTypeId" lay-filter="aihao" lay-verify="required">
                <option value="1">数学</option>
                <option value="2">语文</option>
                <option value="3">英语</option>
            </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">所属单位：</label>
                <div class="layui-input-block">
                    <input type="text" name="company" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-col-md6">
            <label class="layui-form-label website-form-item-require">行政职位：</label>
            <div class="layui-input-block">
                <select name="positionTypeId" lay-filter="aihao" lay-verify="required">
                    <option value="1">职位1</option>
                    <option value="2">职位2</option>
                    <option value="3">职位3</option>
                </select>
            </div>
           </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">身份证号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="identityId" lay-verify="required|identity" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">银行帐号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="accountId" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label">银行帐号开户行：</label>
                    <div class="layui-input-block">
                        <input type="text" name="bankName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">职称：</label>
                    <div class="layui-input-block">
                        <select name="titleTypeId" lay-filter="aihao" lay-verify="required">
                            <option value="1">职称1</option>
                            <option value="2">职称2</option>
                            <option value="3">职称3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">联系电话：</label>
                    <div class="layui-input-block">
                        <input type="tel" name="phone" lay-verify="phone|required" maxlength="50" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">电子邮件：</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" lay-verify="email|required" maxlength="50" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label website-form-item-require">通讯地址：</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="required|required" maxlength="50" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item website-hide">
            <button class="layui-btn" lay-submit="" lay-filter="user-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['website', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            website = layui.website,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            expert = [[${expert}]],
            $view = $('#user-update'),
            validate = layui.validate;
        form.verify(validate);
        form.render();
        initExpertValue();
        formSelects.render();
        function initExpertValue() {
            form.val("user-update-form", {
                "expertId": expert.expertId,
                "name": expert.name,
                "subjectTypeId": expert.subjectTypeId,
                "company": expert.company,
                "positionTypeId": expert.positionTypeId,
                "identityId": expert.identityId,
                "bankName": expert.bankName,
                "titleTypeId": expert.titleTypeId,
                "accountId": expert.accountId,
                "phone": expert.phone,
                "email": expert.email,
                "address": expert.address
            });
        }

        form.on('submit(user-update-form-submit)', function (data) {

            website.post(ctx + 'expert/update', data.field, function () {
                layer.closeAll();
                website.alert.success('数据修改成功');
                $('#website-user').find('#query').click();
            });
            return false;
        });
    });
</script>