<style>
    #expert-detail {
        padding: 20px 25px 25px 0;
    }

    #expert-detail span {
        margin: 0 0 2px 3px !important;
    }

    .layui-layer-page .layui-layer-content {
        overflow: visible !important;
    }
</style>
<div class="layui-fluid" id="expert-detail">
    <form class="layui-form" lay-filter="expert-detail-form">
        <div class="layui-form-item website-hide">
            <label class="layui-form-label website-form-item-require">专家id：</label>
            <div class="layui-input-block">
                <input type="text" name="expertId" data-th-value="${expert.expertId}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label website-form-item-require">专家姓名：</label>
                <div class="layui-input-block">
                    <input type="text" name="name" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label website-form-item-require">学科分类：</label>
                <div class="layui-input-block">
                    <select name="subjectTypeCode" disabled="disabled">
                        <option value="1">数学</option>
                        <option value="2">语文</option>
                        <option value="3">英语</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">所属单位：</label>
                <div class="layui-input-block">
                    <input type="text" name="company" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label website-form-item-require">行政职位：</label>
                <div class="layui-input-block">
                    <select name="positionTypeCode" disabled="disabled">
                        <option value="1">职位1</option>
                        <option value="2">职位2</option>
                        <option value="3">职位3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">身份证号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="identityId" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">银行帐号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="accountId" readonly class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label">银行帐号开户行：</label>
                    <div class="layui-input-block">
                        <input type="text" name="bankName" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">职称：</label>
                    <div class="layui-input-block">
                        <select name="titleTypeCode" disabled="disabled">
                            <option value="1">职称1</option>
                            <option value="2">职称2</option>
                            <option value="3">职称3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label">学位：</label>
                    <div class="layui-input-block">
                        <select name="degreeTypeCode" disabled="disabled">
                            <option value="1">学位1</option>
                            <option value="2">学位2</option>
                            <option value="3">学位3</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">理论与实务专家：</label>
                    <div class="layui-input-block">
                        <select name="featureTypeCode" disabled="disabled">
                            <option value="1">理论专家</option>
                            <option value="2">实务专家</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label">京内与京外专家：</label>
                    <div class="layui-input-block">
                        <select name="districtTypeCode" disabled="disabled">
                            <option value="1">京内专家</option>
                            <option value="2">京外专家</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">联系电话：</label>
                    <div class="layui-input-block">
                        <input type="tel" name="phone" readonly class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <label class="layui-form-label website-form-item-require">电子邮件：</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">是否发布：</label>
                    <div class="layui-input-block">
                        <input type="text" name="isPublish" readonly class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row">
                <label class="layui-form-label website-form-item-require">通讯地址：</label>
                <div class="layui-input-block">
                    <input type="text" name="address" readonly class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['form', 'formSelects'], function () {
        var $ = layui.$,
            formSelects = layui.formSelects,
            form = layui.form,
            expert = [[${expert}]];
        form.render();
        initExpertValue();
        formSelects.render();
        function initExpertValue() {
            form.val("expert-detail-form", {
                "expertId": expert.expertId,
                "name": expert.name,
                "subjectTypeCode": expert.subjectTypeCode,
                "company": expert.company,
                "positionTypeCode": expert.positionTypeCode,
                "titleTypeCode": expert.titleTypeCode,
                "degreeTypeCode": expert.degreeTypeCode,
                "featureTypeCode": expert.featureTypeCode,
                "districtTypeCode": expert.districtTypeCode,
                "identityId": expert.identityId,
                "bankName": expert.bankName,
                "accountCode": expert.accountCode,
                "phone": expert.phone,
                "email": expert.email,
                "isPublish": expert.isPublishName,
                "address": expert.address
            });
        }
    });
</script>