<style>
    #website-components-others .layui-card-header {
        font-weight: 600;
    }

    #website-components-others p {
        margin-bottom: 10px
    }
    #website-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #website-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim website-anim" id="website-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 website-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge website-tag-green">website-tag-green</span>
                        <span class="layui-badge website-tag-magenta">website-tag-magenta</span>
                        <span class="layui-badge website-tag-orange">website-tag-orange</span>
                        <span class="layui-badge website-tag-red">website-tag-red</span>
                        <span class="layui-badge website-tag-volcano">website-tag-volcano</span>
                        <span class="layui-badge website-tag-gold">website-tag-gold</span>
                        <span class="layui-badge website-tag-lime">website-tag-lime</span>
                        <span class="layui-badge website-tag-cyan">website-tag-cyan</span>
                        <span class="layui-badge website-tag-blue">website-tag-blue</span>
                        <span class="layui-badge website-tag-geekblue">website-tag-geekblue</span>
                        <span class="layui-badge website-tag-purple">website-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge website-bg-green">.website-bg-green</span>
                        <span class="layui-badge website-bg-magenta">website-bg-magenta</span>
                        <span class="layui-badge website-bg-orange">website-bg-orange</span>
                        <span class="layui-badge website-bg-red">website-bg-red</span>
                        <span class="layui-badge website-bg-volcano">website-bg-volcano</span>
                        <span class="layui-badge website-bg-gold">website-bg-gold</span>
                        <span class="layui-badge website-bg-lime">website-bg-lime</span>
                        <span class="layui-badge website-bg-cyan">website-bg-cyan</span>
                        <span class="layui-badge website-bg-blue">website-bg-blue</span>
                        <span class="layui-badge website-bg-geekblue">website-bg-geekblue</span>
                        <span class="layui-badge website-bg-purple">website-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="website-alert-base website-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="website-alert-base website-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="website-alert-base website-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="website-alert-base website-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>